<% if (typeof info != 'undefined' && info.length) { %>
<div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
        <% for(i = 0, len = errors.length; i < len; i++) { %>
        <li><%= info[i] %></li>
        <% } %>
    </ul>
</div>
<% } %>
<% if (typeof errors != 'undefined' && errors.length) { %>
<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
        <% for(i = 0, len = errors.length; i < len; i++) { %>
        <li><%= errors[i] %></li>
        <% } %>
    </ul>
</div>
<% } %>
<% if (typeof success != 'undefined' && success.length) { %>
<div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
        <% for(i = 0, len = errors.length; i < len; i++) { %>
        <li><%= success[i] %></li>
        <% } %>
    </ul>
</div>
<% } %>
<% if (typeof warning != 'undefined' && warning.length) { %>
<div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
        <% for(i = 0, len = errors.length; i < len; i++) { %>
        <li><%= warning[i] %></li>
        <% } %>
    </ul>
</div>
<% } %>